@media only screen and (min-width: 768px) { /*768보다 크면 아래내용 실행*/
  .navBar_padding_top{  padding-top:55px;  }
  .navMenu{font-size:23px; text-align: center}

}


@media only screen and (max-width: 767px) { /*767보다 작으면 아래내용 실행*/
  .navBar_padding_top{  padding-top:35px;  }
  .navMenu{font-size:20px; text-align: center}
  }
